@page "/counter"

<h1>Counter</h1>

<br />
<br />
<br />
<label>Incremento:</label>
<input type="number" @bind="Incremento" />
<button class="btn btn-outline-primary" @onclick="IncrementarContador">Contador 1</button>
<p>Cuenta actual: @primerContador</p>

<br />
<br />
<br />
<label>Segundo Incremento:</label>
<input type="number" @bind="Incremento2" />
<button class="btn btn-outline-primary" @onclick="Incrementar2">Contador 2</button>
<p>Cuenta actual: @segundoContador</p>

<br />
<br />
<br />
<label>Tercer Incremento:</label>
<input type="number" @bind="Incremento3" />
<button class="btn btn-outline-primary" @onclick="Incrementar3">Contador 3</button>
<p>Cuenta actual: @tercerIncremento</p>

@code{
    private int primerContador = 0;
    private int segundoContador = 0;
    private int tercerIncremento;
   
    [Parameter]
    public int Incremento { get; set; }
    
    [Parameter]
    public int Incremento2 { get; set; }
    
    [Parameter]
    public int Incremento3 { get; set; }

    private void IncrementarContador()
    {
        primerContador += Incremento;
    }

    private void Incrementar2()
    {
        segundoContador += Incremento2;
    }

    private void Incrementar3()
    {
        tercerIncremento += Incremento3;
    }









}
